liac-arff>=2.4.0
minio
numpy>=1.6.2
packaging
pandas>=1.0.0
pyarrow
python-dateutil
requests
scikit-learn>=0.18
scipy>=0.13.3
tqdm
xmltodict
torch>=2.2.0
torchvision>=0.20.0
onnx>=1.17.0
matplotlib>3.10
openml>=0.15.1
netron>=8.2.1
tqdm>=4.67.1
tensorboard>=2.18.0
