
matplotlib
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-jupyter
mkdocs-material
mkdocs-redirects
mkdocstrings
mkdocstrings-python
mknotebooks
netron
numpy
onnx
openml
pandas
scikit_learn
scipy
tensorboard
torch
torchvision
tqdm